<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Nazionale</title>
</head>
<body>

	<div>
		<div layout:fragment="content">
			<h3>Dati nazionali</h3>

			<form th:action="@{/nazionale/grafico}" th:object="${nazionaleb}"
				method="get">

				<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
					th:class="text-red">Incorrect data</p>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('dataDa')}? 'has-error'">
					<label>Data da</label> <input type="date" th:field="*{dataDa}" />
					<p th:if="${#fields.hasErrors('dataDa')}" th:errors="*{dataDa}"
						th:class="text-red">Incorrect data</p>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('dataA')}? 'has-error'">
					<label>Data a </label> <input type="date" th:field="*{dataA}" />
					<p th:if="${#fields.hasErrors('dataA')}" th:errors="*{dataA}"
						th:class="text-red">Incorrect data</p>
				</div>

				<div class="form-group">
					<select class="form-control"
						th:field="${nazionaleb.graficoSelezionato}" id="idGrafico">
						<option value="0">Seleziona Grafico</option>
						<option th:each="grafic : ${nazionaleb.grafici}"
							th:value="${grafic}" th:text="${grafic}"></option>
					</select>
				</div>

				<div class="form-group">
					<input id="chartoptions" type="hidden" th:value="${linechart}"/>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
			<canvas id="myChart" width="400" height="400"></canvas>
			<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function () {
	var ctx = document.getElementById('myChart');
	var chartoptions = $("#chartoptions").val(); 	
	var myChart = new Chart(ctx, JSON.parse(chartoptions));
});
	/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>