<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Regionale</title>
</head>
<body>

	<div>
		<div layout:fragment="content">
			<form th:action="@{/regionale/grafico}" th:object="${regionaleb}"
				method="get">
				<p></p>
				<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
					th:class="text-danger">Incorrect data</p>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label>Dati regionali *</label> <select class="form-control"
									th:field="*{graficiSelezionati}" id="idGrafici"
									name="idGrafici" multiple="multiple" size="2">
									<option th:each="grafic : ${regionaleb.grafici}"
										th:value="${grafic}" th:text="${grafic}"></option>
								</select>
								<p th:if="${#fields.hasErrors('graficiSelezionati')}"
									th:errors="*{graficiSelezionati}" th:class="text-danger">Incorrect
									data</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label>Regioni *</label> <select class="form-control"
									th:field="*{regioniSelezionate}" id="idRegioni"
									name="idRegioni" multiple="multiple" size="2">
									<option th:each="region : ${regionaleb.regioni}"
										th:value="${region.chiave}" th:text="${region.valore}"></option>
								</select>
								<p th:if="${#fields.hasErrors('regioniSelezionate')}"
									th:errors="*{regioniSelezionate}" th:class="text-danger">Incorrect
									data</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('dataDa')}? 'has-error'">
								<label>Data da</label> <input type="date" th:field="*{dataDa}" />
								<p th:if="${#fields.hasErrors('dataDa')}" th:errors="*{dataDa}"
									th:class="text-danger">Incorrect data</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('dataA')}? 'has-error'">
								<label>Data a </label> <input type="date" th:field="*{dataA}" />
								<p th:if="${#fields.hasErrors('dataA')}" th:errors="*{dataA}"
									th:class="text-danger">Incorrect data</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group text-center">
								<input id="chartoptions" type="hidden" th:value="${linechart}" />
								<button type="submit" class="btn btn-primary">Visualizza</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<canvas id="myChart" width="400" height="400"></canvas>
			<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function () {
	var ctx = document.getElementById('myChart');
	var chartoptions = $("#chartoptions").val(); 	
	var myChart = new Chart(ctx, JSON.parse(chartoptions));
});
$('[type="date"]').prop('max', function(){
    return new Date().toJSON().split('T')[0];
});
	/*]]>*/
			</script>
		</div>
	</div>
</body>
</html>